<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <a href="/logout">Logout</a>
    </div>

    <div class="new-post">
        <p>Edit your post</p>
        <form action="/update/<%= post._id %>" method="post">
            <textarea placeholder="What's in your mind" name="content"><%= post.content %></textarea>
            <input type="submit" value="Update Post">
        </form>
    </div>
</body>
</html>